/*
 * Author : Juan,Manu,Murali,Revant
 * Website: http://mvallu.github.io/CS-424-Project-3/
 */

 html{
 	font-family: Lato;
 }

 body{
 	margin:0 auto;
 	background-color: #323232;
 }

 #app{

 }

 #shared_timeline{
 	height:30vh;
 	background-color:#000000;
 	width:100%;

 }

 #shared_pool{
 	height:10vh;
 	background-color:#323232;
 	width: 100%; 
 }

 #user1{
 	height:60vh;
 	background-color:black;
 	width:30%;
 	float: left;
 }

 #user1_tag{
 	height:2vh;
 	background-color:#FF5144; 
 }

 #shared_map{
 	height:60vh;
 	background-color:#FFDF05;
 	width:20%;
 	float: left;
 }

 #shared_map img{
	 	
	 min-height: 100%;
	 min-width: 100%;
}


 #shared_graph{
 	height:60vh;
 	background-color:#CFD0D2;
 	width:20%;
 	float: left;

 }

 #shared_graph img{
	 	
	 min-height: 100%;
	 min-width: 100%;
}


 #user2{
 	height:60vh;
 	background-color:black;
 	width:30%;
 	float: left;

 }

 #user2_tag{
 	height:2vh;
 	background-color:#3AC0FF; 
 }




@media (max-width: 3000px) {

	 #app{

	 }

	 #shared_timeline{
	 	height:30vh;
	 	background-color:#000000;
	 	width:100%;

	 }

	 #shared_pool{
	 	height:10vh;
	 	background-color:#323232;
	 	width: 100%; 
	 }

	 #user1{
	 	height:60vh;
	 	background-color:black;
	 	width:50%;
	 	
	 }

	 #user1_tag{
	 	height:2vh;
	 	background-color:#FF5144; 
	 }

	 #shared_map{
	 	height:60vh;
	 	background-color:#FFDF05;
	 	width:50%;
	 	float: left;
	 }

	 #shared_map img{
		 	
		 height: 100%;
		 width: 100%;
	}


	 #shared_graph{
	 	height:60vh;
	 	background-color:#CFD0D2;
	 	width:50%;
	 	float: right;

	 }

	 #shared_graph img{
		 	
		 height: 100%;
		 width: 100%;
	}


	 #user2{
	 	height:60vh;
	 	background-color:black;
	 	width:50%;
	 	float: left;

	 }

	 #user2_tag{
	 	height:2vh;
	 	background-color:#3AC0FF; 
	 }


}





@media (max-width: 700px) {

	 #app{

	 }

	 #shared_timeline{
	 	height:30vh;
	 	background-color:#000000;
	 	width:100%;

	 }

	 #shared_pool{
	 	height:10vh;
	 	background-color:#323232;
	 	width: 100%; 
	 }

	 #user1{
	 	height:60vh;
	 	background-color:black;
	 	width:100%;
	 	
	 }

	 #user1_tag{
	 	height:2vh;
	 	background-color:#FF5144; 
	 }

	 #shared_map{
	 	height:60vh;
	 	background-color:#FFDF05;
	 	width:100%;
	 }

	 #shared_map img{
		 	
		 height: 100%;
		 width: 100%;
	}


	 #shared_graph{
	 	height:60vh;
	 	background-color:#CFD0D2;
	 	width:100%;

	 }

	 #shared_graph img{
		 	
		 height: 100%;
		 width: 100%;
	}


	 #user2{
	 	height:60vh;
	 	background-color:black;
	 	width:100%;

	 }

	 #user2_tag{
	 	height:2vh;
	 	background-color:#3AC0FF; 
	 }



 }