/*
 * Author : Juan,Manu,Murali,Revant
 * Website: http://mvallu.github.io/CS-424-Project-3/
 */

 html{
 	font-family: Lato;
 }

 body{
 	margin:0 auto;
 	background-color: #323232;
 }

 #app{

 }

 #shared_timeline{
 	height:30%;
 	background-color:#000000;
 	width:100%;

 }

 #shared_pool{
 	height:10vh;
 	background-color:#323232;
 	width: 100%; 
 }

 #user1{
 	height:60vh;
 	background-color:black;
 	width:30%;
 	float: left;
 }

 #user1_tag{
 	height:2vh;
 	background-color:#FF5144; 
 }

 .user_artist_list{
 	float:left;
 	height:50%;
 	width:20%;

 }

 .user_genre_list{

 	height:45%;
 	width:20%;

 }

 .user_timeline{
 	float:right;
 	height:35%;
 	width:75%;
 	margin-top: 1%;
 	margin-right:5%;
 	position: relative;

 }

 .streamgraph{
 	height: 100% !important;
 }

 .user_tabbed_menu{
 	float:right;
 	height:55%;
 	width:75%;
 	margin-top: 2%;
 	margin-right:2.5%;
 }

 .webix_item_tab{
 	font-size: 2.2em !important;
 }

 #map{
 	height:60vh;
 	background-color:#000000;
 	width:20%;
 	float: left;
 }


 #shared_graph{
 	height:60vh;
 	background-color:#A09D9D;
 	width:20%;
 	float: left;
 	position: relative;

 }

 #shared_graph img{
	 position: :relative;	
	 min-height: 100%;
	 min-width: 100%;

}


 #user2{
 	height:60vh;
 	background-color:black;
 	width:30%;
 	float: left;

 }

 #user2_tag{
 	height:2vh;
 	background-color:#3AC0FF; 
 }

 .my_artist_title{
 	float: left;
 	font-family: Lato;
 	font-size: 2.5em;
 }
 .delete_artist_list_button,.delete_genre_list_button{
 	float:right;
 	height: 100%;
 	width:10%;
 	margin-right: 2%;
	border:0;
 	background: url(../resources/images/trash.png) no-repeat;
 	background-size: contain;

 }

 .delete_artist_list_button:active,.delete_genre_list_button:active{
 	float:right;
 	height: 100%;
 	width:10%;
 	margin-right: 2%;
	border:0;
 	background: url(../resources/images/trash_click.png) no-repeat;
 	background-size: contain;

 }

 .user_artist_list .webix_list_item, .user_genre_list .webix_list_item{

 	height: 100px !important;
 	font-family: Lato;
 	font-size: 1.7em;
 	padding-top: 5%;
 	padding-bottom: 5%;

 }

 .user_tabbed_menu .webix_template{
 	font-size: 2em;
 	border-bottom: solid;
 }

 .user_tabbed_menu .webix_accordionitem_label{
 	font-size:2em;
 	background-color: #8A73FF;
 }

 .user_tabbed_menu .webix_scroll_cont > div{
 	height: 100% !important;
 	width: 100% !important;
 	overflow: visible !important;
 }
 .user_tabbed_menu .webix_dataview_item{
 	margin-top: 4%;
 	height: 5% !important;
 	width: 100% !important;
 	font-size: 2.5em;
 	
 	float:none !important;
 }

 .user_tabbed_menu .webix_dataview_item img{
 	float:left;
 	margin-top: 2.5%;
 	padding-right: 10%;
 	width:150px;
 	height:150px;
 }

 .user_tabbed_menu .webix_dataview_item.webix_selected{
 	background: #000000 !important;

 }

 .user_tabbed_menu .webix_form .webix_scroll_cont{
 	margin-top:20px;
 }

 .user_tabbed_menu .webix_inp_label{
 	width:180px !important;
 	font-size: 2em;


 }

 .user_tabbed_menu input[type="text"]{
 	display: inline;
 	
 	background-color: #CFD0D2;
 	font-size: 2em;
 	width:500px !important;
 }

 .user_tabbed_menu .webix_img_btn{
 	float:right;
 	border:0;
 	width:30px !important;
 	background:url(../resources/images/search.png) no-repeat;
 	background-size: contain;
 }

 .user_tabbed_menu .webix_el_button{
 	margin-left:-130px !important;
 	margin-top:-35px !important;
 }

 .user_tabbed_menu form{
 	display: inline-block !important;
 }

 .user_tabbed_menu .webix_hcell{
 	font-size: 2em;
 
 }

 .user_tabbed_menu .webix_hcell input[type="text"]{
 	font-size: 1em;
 	float:left;
 	width: 300px !important;
 	background-color: white;
 }

 .top_ten_artist_button{
 	float: right;
 	height: 50px;
 	width: 50px;
 	margin-right: 2%;
	border:5;
 	background: url(../resources/images/plus.png) no-repeat;
 	background-size: contain;
 }

#shared_pool .webix_view.webix_list-x{
	height:100% !important; 
}

#shared_pool .webix_view{
	background-color: #323232 !important;
}

#shared_pool .webix_list_item{
	padding-top: 0px;
	height: 100% !important;
	text-align: center;
}
#shared_pool .webix_list_item img {
	width:90px;
	height:90px;
}

#shared_pool .user1 {
	border:solid red !important;
}
#shared_pool .user2 {
	border:solid blue !important;
}

#shared_pool .common {
	border:solid yellow !important;
}

#shared_pool .webix_strong{
	color: white;
	font-size: 1.5em;
	text-align: center;
}



.axis path,
.axis line {
    fill: none;
    stroke: #FFF;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.handle{
    fill: #3498DB;
}

.x.axis path {
    stroke-width: 2px;
}

.x.axis text {
    fill       : white;
    font-family: Verdana;
    font-size: 1.5em;
}

.brush .extent {
    stroke: #FFF;
    fill-opacity: 0;
    shape-rendering: crispEdges;
}

.left-opaque, .right-opaque{
    background: #000;
    opacity: 0.4;
}





.chart {
			shape-rendering: crispEdges;
		}

		.mini text {
			font: 3em;
			font-size:25px;
			fill: white;	
		}

		.main text {
			font: 3em;
			fill:white;
		}


#shared_timeline .user1 {
	fill:#FF5144;
	stroke-width: 6;
	opacity: 0.3;	
}

		
#shared_timeline .user2 {
	fill:#3AC0FF;
	stroke-width: 6;
	opacity: 0.3;		
}


		
#shared_timeline .common{
	fill:yellow;
	stroke-width: 6;	
	opacity: 0.3;
}

#shared_timeline .axis line,#shared_timeline .axis path{
	stroke:#fff;
	stroke-width:2px;
	shape-rendering:crispEdges;
}

#shared_timeline x.axis text{
	fill:white;
	font-size:40px;
	font-family: Lato;
}



.artistArt {
  border: 0.1em solid black;
  width: 10em;
  height: 10em;
  padding: 2em;  
  margin: 1em;
}

.artistArt p {
  height: 100%;
  width: 100%;
  font-size: 4em;
  text-align: center;
}

.artistArt:hover {
  cursor: pointer;
  background-color: deepskyblue;
}





    .menu-ui {
      background:#fff;
      position:absolute;
      bottom:30px;
      right:10px;
      z-index:1;
      border-radius:3px;
      width:120px;
      border:1px solid rgba(0,0,0,0.4);
      }
      .menu-ui a {
        font-size:15px;
        color:#000;
        display:block;
        margin:0;
        padding:0;
        padding:10px;
        text-decoration:none;
        border-bottom:1px solid rgba(0,0,0,0.25);
        text-align:center;
        }
        .menu-ui a:first-child {
          border-radius:3px 3px 0 0;
          }
        .menu-ui a:last-child {
          border:none;
          border-radius:0 0 3px 3px;
          }
        .menu-ui a:hover {
          background:#000;
          color:#fff;
          }
        .menu-ui a.active {  /* Layer on */
          background:#55E000;
          color:#000;
          }
          .menu-ui a.active:hover {
            background:#000;
            color: #fff;
            }
.custom-popup .leaflet-popup-content-wrapper {
  background:#973a5d;
  color:#fff;
  font-size:15px;
  line-height:0px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  height:15px;
  width:15px;
  }
.custom-popup img {
  height: 90px;
  width: 90px;
  margin-bottom: 10px;
}
.custom-popup p {
  margin: 0px;
}
.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #973a5d;
  }

@media (max-width: 3000px) {

	 #app{

	 }

	 #shared_timeline{
	 	height:30vh;
	 	background-color:#000000;
	 	width:100%;

	 }

	 #shared_pool{
	 	height:10vh;
	 	background-color:#323232;
	 	width: 100%; 
	 }

	 #user1{
	 	height:60vh;
	 	background-color:black;
	 	width:50%;
	 	
	 }

	 #user1_tag{
	 	height:2vh;
	 	background-color:#FF5144; 
	 }

	 #shared_map{
	 	height:60vh;
	 	background-color:#FFDF05;
	 	width:50%;
	 	float: left;
	 }

	 #shared_map img{
		 	
		 height: 100%;
		 width: 100%;
	}


	 #shared_graph{
	 	height:60vh;
	 	background-color:#CFD0D2;
	 	width:50%;
	 	float: right;

	 }

	 #shared_graph img{
		 	
		 height: 100%;
		 width: 100%;
	}


	 #user2{
	 	height:60vh;
	 	background-color:black;
	 	width:50%;
	 	float: left;

	 }

	 #user2_tag{
	 	height:2vh;
	 	background-color:#3AC0FF; 
	 }


 .my_artist_title{
 	position: absolute;
 	left: 2%;
 	font-size: 1.5em;
 }
 .delete_artist_list_button,.delete_genre_list_button{
 	float:right;
	width:40%;
	height: 40%;
	margin-right:-25%;
	margin-top:8%;
	border:0;
 	background: url(../resources/images/trash.png) no-repeat;
 	background-size: contain;

 }

}





@media (max-width: 700px) {

	 #app{

	 }

	 #shared_timeline{
	 	height:30vh;
	 	background-color:#000000;
	 	width:100%;

	 }

	 #shared_pool{
	 	height:10vh;
	 	background-color:#323232;
	 	width: 100%; 
	 }

	 #user1{
	 	height:60vh;
	 	background-color:black;
	 	width:100%;
	 	
	 }

	 #user1_tag{
	 	height:2vh;
	 	background-color:#FF5144; 
	 }

	 #shared_map{
	 	height:60vh;
	 	background-color:#FFDF05;
	 	width:100%;
	 }

	 #shared_map img{
		 	
		 height: 100%;
		 width: 100%;
	}


	 #shared_graph{
	 	height:60vh;
	 	background-color:#CFD0D2;
	 	width:100%;

	 }

	 #shared_graph img{
		 	
		 height: 100%;
		 width: 100%;
	}


	 #user2{
	 	height:60vh;
	 	background-color:black;
	 	width:100%;

	 }

	 #user2_tag{
	 	height:2vh;
	 	background-color:#3AC0FF; 
	 }



 }