.node {
    stroke: #000;
    stroke-width: 1.5px;
}

.node text {
    font: 10px verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

.neighbour {
    opacity: 1;
}

.not-neighbour {
    opacity: 0.1;
}

.main-genre {
    fill: #F00;
    stroke: #F00;
    stroke-width: 2.5px;
}

/* Classes for the bottom right panel for changing views */
.menu-ui {
    background:#cccccc;
    position:absolute;
    bottom:30px;
    right:10px;
    z-index:1;
    border-radius:3px;
    width:120px;
    border:1px solid rgba(0,0,0,0.4);
}
.menu-ui a {
    font-family: Verdana, sans-serif;
    font-size:15px;
    color:#000;
    display:block;
    margin:0;
    padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
}
.menu-ui a:first-child {
    border-radius:3px 3px 0 0;
}
.menu-ui a:last-child {
    border:none;
    border-radius:0 0 3px 3px;
}
.menu-ui a:hover {
    background:#000;
    color:#fff;
    cursor: pointer;
}
.menu-ui a.active {  /* Layer on */
    background:#636363;
    color:#000;
}
.menu-ui a.selected:hover {
    background:#000;
    color: #fff;
    cursor: pointer;
}

.menu-ui a.selected {
    background:#636363;
    color: #FFF;
}

/* zoom controls */
.menu-ui-zoom {
    background:#cccccc;
    position:absolute;
    top:10px;
    left:10px;
    z-index:1;
    border-radius:3px;
    width:50px;
    border:1px solid rgba(0,0,0,0.4);
}
.menu-ui-zoom a {
    font-family: Verdana, sans-serif;
    font-size:15px;
    color:#000;
    display:block;
    margin:0;
    padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
}

.menu-ui-zoom:hover{
    cursor: pointer;
}

@media only screen and (min-width: 8000px) {
    .link {
        stroke: #999;
        stroke-opacity: 1;
    }

    .menu-ui {
        width:400px;
    }

    .menu-ui a {
        font-size: 40px;
    }

    .menu-ui-zoom {
        width: 100;
    }

    .menu-ui-zoom a {
        font-size: 40px;
    }
}