USE [CS424]
GO
/****** Object:  Table [dbo].[ActiveYears]    Script Date: 11/24/2015 13:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActiveYears](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Start] [int] NOT NULL,
	[End] [int] NOT NULL,
	[ArtistId] [int] NOT NULL,
 CONSTRAINT [PK_ActiveYears] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ActiveYears] ON 

INSERT [dbo].[ActiveYears] ([Id], [Start], [End], [ArtistId]) VALUES (1, 2008, 0, 1)
INSERT [dbo].[ActiveYears] ([Id], [Start], [End], [ArtistId]) VALUES (2, 2010, 0, 2)
INSERT [dbo].[ActiveYears] ([Id], [Start], [End], [ArtistId]) VALUES (3, 2006, 0, 3)
GO
SET IDENTITY_INSERT [dbo].[ActiveYears] OFF
/****** Object:  Index [IX_FK_ArtistActiveYear]    Script Date: 11/24/2015 13:52:13 ******/
CREATE NONCLUSTERED INDEX [IX_FK_ArtistActiveYear] ON [dbo].[ActiveYears]
(
	[ArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActiveYears]  WITH CHECK ADD  CONSTRAINT [FK_ArtistActiveYear] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artists] ([Id])
GO
ALTER TABLE [dbo].[ActiveYears] CHECK CONSTRAINT [FK_ArtistActiveYear]
GO
