USE [CS424]
GO
/****** Object:  Table [dbo].[Artists]    Script Date: 11/24/2015 13:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EchonestID] [nvarchar](max) NULL,
	[SpotifyID] [nvarchar](max) NULL,
	[ArtistName] [nvarchar](max) NULL,
	[ArtistImageURL] [nvarchar](max) NULL,
	[ArtistLocation] [nvarchar](max) NULL,
 CONSTRAINT [PK_Artists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Artists] ON 

INSERT [dbo].[Artists] ([Id], [EchonestID], [SpotifyID], [ArtistName], [ArtistImageURL], [ArtistLocation]) VALUES (1, N'ARFCWSZ123526A0AFD', N'1uNFoZAHBGtllmzznpCI3s', N'Justin Bieber', N'https://i.scdn.co/image/5c3cf2ee3494e2da71dcf26303202ec491b26213', N'Stratford, Canada')
INSERT [dbo].[Artists] ([Id], [EchonestID], [SpotifyID], [ArtistName], [ArtistImageURL], [ArtistLocation]) VALUES (2, N'ARZHFAY130708EE366', N'4AK6F7OLvEQ5QYCBNiQWHq', N'One Direction', N'https://i.scdn.co/image/5bb443424a1ad71603c43d67f5af1a04da6bb3c8', N'London, England, GB')
INSERT [dbo].[Artists] ([Id], [EchonestID], [SpotifyID], [ArtistName], [ArtistImageURL], [ArtistLocation]) VALUES (3, N'AR7J9AP1187FB5BD64', N'4dpARuHxo51G3z768sgnrY', N'Adele', N'https://i.scdn.co/image/ccbe7b4fef679f821988c78dbd4734471834e3d9', N'London, UK')
GO
SET IDENTITY_INSERT [dbo].[Artists] OFF
