USE [CS424]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 11/24/2015 13:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([Id], [GenreName]) VALUES (1, N'a cappella')
INSERT [dbo].[Genres] ([Id], [GenreName]) VALUES (2, N'abstract')
INSERT [dbo].[Genres] ([Id], [GenreName]) VALUES (3, N'abstract beats')
GO
SET IDENTITY_INSERT [dbo].[Genres] OFF
